# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# IDE/editor folders
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db

# Python test cache
.pytest_cache/
.cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Bat files (optional, if you don’t want to track them)
*.bat
